.category-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .category-item {
    flex: 1 1 200px;
    margin: 0 10px 20px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .category-container {
      justify-content: center;
    }
  }
  
  @media (max-width: 576px) {
    .category-item {
      flex: 1 1 100%;
    }
  }
  